


.hy-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #232332;
    border-radius: 4px;

    table-layout: fixed;
}

.hy-table tr {
    border-bottom: 1px dotted #ccc;
}

.hy-table tr:hover {
    background-color: rgba(232, 121, 121, 0.388);
}

.hy-table tr:last-child {
    border-bottom: none;
}

.hy-table td {
    border-right: 1px dotted #ccc;
    padding: 8px;
    font-size: 16pt;
    text-align: left;
}

.hy-table td:last-child {
    border-right: none;
}

@media only screen and (max-width: 600px) {
    .hy-table td {
        font-size: 11pt;
    }
}

.hy-nav-bar {
    display: flex;
    gap: 8px;
}

.word-cell {
    display: flex;
    justify-content: space-between;
}

.word-cell span {
    display: inline-block;
}

.selected {
    background-color: rgba(232, 121, 121, 0.388);
}

.tag {
    display: inline-block;
    background-color: rgb(139, 240, 230);
    border-radius: 4px;
    padding: 4px;
    color: #121221;
    font-size: 10pt;
    margin: 0 4px;
}

.hy-nav-item {
    cursor: pointer;
}

.hy-table .tiny-td {
    width: 50px;
    text-align: center;
}  

.hy-content-small {
    font-size: 11pt;
    color: #ccc;
    display: inline-block;
    margin-left: 8px;
}