{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Rate Audit API",
        "description": "The description of public Rate Audit API which provide an access to historical data, reltime scrapping and to the system management.",
        "contact": {
            "name": "Viktor Boldin",
            "email": "viktor.boldin@dataart.com"
        }
    },
    "host": "rateaudit.dataart.com",
    "basePath": "/api",
    "schemes": [
        "http",
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/hotels": {
            "get": {
                "tags": [
                    "hotels"
                ],
                "description": "Get list of hotels",
                "operationId": "getAllHotels",
                "produces": [
                    "application/json",
                    "application/xml",
                    "text/xml",
                    "text/html"
                ],
                "parameters": [
                    {
                        "name": "region_id",
                        "in": "query",
                        "description": "TBD!!",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/hotel"
                            }
                        }
                    },
                    "400": {
                        "description": "Error"
                    }
                }
            }
        },
        "/hotels/{id}": {
            "get": {
                "tags": [
                    "hotels"
                ],
                "description": "Get hotel",
                "operationId": "getHotelById",
                "produces": [
                    "application/json",
                    "application/xml",
                    "text/xml",
                    "text/html"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "TBD!!",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/hotel"
                        }
                    },
                    "400": {
                        "description": "Invalid ID supplied"
                    },
                    "404": {
                        "description": "Hotel not found"
                    }
                }
            }
        },
        "/schedule/update/": {
            "get": {
                "tags": [
                    "schedule"
                ],
                "description": "Load a new schedule from google doc",
                "operationId": "scheduleUpdate",
                "parameters": [
                    {
                        "name": "source",
                        "in": "query",
                        "description": "Google doc source",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sheet",
                        "in": "query",
                        "description": "Google doc sheet name",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "need_restart",
                        "in": "query",
                        "description": "Set true if need to restart the current scheduler to apply this schedule",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/schedule/apply/": {
            "get": {
                "tags": [
                    "schedule"
                ],
                "description": "Restart system with current schedule",
                "operationId": "scheduleApply",
                "parameters": [
                    {
                        "name": "sheet",
                        "in": "query",
                        "description": "TBD!!",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/rates/hotel/{id}": {
            "get": {
                "tags": [
                    "rates"
                ],
                "description": "Get rates by hotel sorce",
                "operationId": "getRatesByHotelID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Hotel ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "checkin",
                        "in": "query",
                        "description": "Guest check-in date. UTC format.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkout",
                        "in": "query",
                        "description": "Guest check-in date. If LOS is not specified. UTC format.",
                        "type": "integer"
                    },
                    {
                        "name": "los",
                        "in": "query",
                        "description": "Lenght of Stay, Nights. If checkout is not scpecified",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "guests",
                        "in": "query",
                        "description": "Number of guests. In format a2:c1:c4. a2 - default",
                        "type": "string"
                    },
                    {
                        "name": "room_type",
                        "in": "query",
                        "description": "Filter by master room type",
                        "type": "string"
                    },
                    {
                        "name": "rate_type",
                        "in": "query",
                        "description": "Filter by master rate type",
                        "type": "string"
                    },
                    {
                        "name": "scraping_date",
                        "in": "query",
                        "description": "Specific date of scrapping. Last data as default",
                        "type": "string"
                    },
                    {
                        "name": "use_nearest_date",
                        "in": "query",
                        "description": "If scraping_date is scpecifyed, provide a functionality to get data from nearest of specified date.",
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/rate"
                            }
                        }
                    }
                }
            }
        },
        "/rates/hotels/": {
            "get": {
                "tags": [
                    "rates"
                ],
                "description": "Get rates by hotel list",
                "operationId": "getRatesByHotelList",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "List of hotel ids. {1,2,3,4}",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkin",
                        "in": "query",
                        "description": "Guest check-in date. UTC format.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkout",
                        "in": "query",
                        "description": "Guest check-in date. If LOS is not specified. UTC format.",
                        "type": "integer"
                    },
                    {
                        "name": "los",
                        "in": "query",
                        "description": "Lenght of Stay, Nights. If checkout is not scpecified",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "guests",
                        "in": "query",
                        "description": "Number of guests. In format a2:c1:c4. a2 - default",
                        "type": "string"
                    },
                    {
                        "name": "room_type",
                        "in": "query",
                        "description": "Filter by master room type",
                        "type": "string"
                    },
                    {
                        "name": "rate_type",
                        "in": "query",
                        "description": "Filter by master rate type",
                        "type": "string"
                    },
                    {
                        "name": "scraping_date",
                        "in": "query",
                        "description": "Date of scrapping",
                        "type": "string"
                    },
                    {
                        "name": "use_nearest_date",
                        "in": "query",
                        "description": "If scraping_date is scpecifyed, provide a functionality to get data from nearest of specified date.",
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/rate"
                            }
                        }
                    }
                }
            }
        },
        "/realtime/rates/processAsync/": {
            "get": {
                "tags": [
                    "room"
                ],
                "description": "Perform async realtime request to shop rates",
                "operationId": "getHotelRooms",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "List of hotel ids. {1,2,3,4}",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkin",
                        "in": "query",
                        "description": "Guest check-in date. UTC format.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkout",
                        "in": "query",
                        "description": "Guest check-in date. If LOS is not specified. UTC format.",
                        "type": "integer"
                    },
                    {
                        "name": "los",
                        "in": "query",
                        "description": "Lenght of Stay, Nights. If checkout is not scpecified",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "guests",
                        "in": "query",
                        "description": "Specify number of guests. In format a2:c1:c4. a2 - default",
                        "type": "string"
                    },
                    {
                        "name": "room_type",
                        "in": "query",
                        "description": "Specify master room type",
                        "type": "string"
                    },
                    {
                        "name": "rate_type",
                        "in": "query",
                        "description": "Specify by master rate type",
                        "type": "string"
                    },
                    {
                        "name": "make_schreenshot",
                        "in": "query",
                        "description": "Make schreenshots for each rate in the request. Default false",
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Return unique scraping ID to get data.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/realtime/rates/{id}/": {
            "get": {
                "tags": [
                    "room"
                ],
                "description": "Get shoped rates of async request by scrapping id. Return a full list of evailable rates /realtime/processAsync/ method",
                "operationId": "getHotelRooms",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique scraping ID. To get this id need to call ",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/rate"
                            }
                        }
                    }
                }
            }
        },
        "/realtime/rates/": {
            "get": {
                "tags": [
                    "room"
                ],
                "description": "Perform realtime request to get rates",
                "operationId": "getHotelRooms",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "List of hotel ids. {1,2,3,4}",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkin",
                        "in": "query",
                        "description": "Guest check-in date. UTC format.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkout",
                        "in": "query",
                        "description": "Guest check-in date. If LOS is not specified. UTC format.",
                        "type": "integer"
                    },
                    {
                        "name": "los",
                        "in": "query",
                        "description": "Lenght of Stay, Nights. If checkout is not scpecified",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "guests",
                        "in": "query",
                        "description": "Specify number of guests. In format a2:c1:c4. a2 - default",
                        "type": "string"
                    },
                    {
                        "name": "room_type",
                        "in": "query",
                        "description": "Specify master room type",
                        "type": "string"
                    },
                    {
                        "name": "rate_type",
                        "in": "query",
                        "description": "Specify by master rate type",
                        "type": "string"
                    },
                    {
                        "name": "make_schreenshot",
                        "in": "query",
                        "description": "Make schreenshots for each rate in the request. Default false",
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Return unique scraping ID to get data.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/rooms/hotel/{id}": {
            "get": {
                "tags": [
                    "room"
                ],
                "description": "Get list of rooms for specific hotel",
                "operationId": "getHotelRooms",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "TBD!!",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "hotel": {
            "required": [
                "name",
                "region",
                "url",
                "enabled",
                "discount_percent",
                "chain_code",
                "currency"
            ],
            "properties": {
                "name": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "enabled": {
                    "type": "string"
                },
                "discount_percent": {
                    "type": "string"
                },
                "chain_code": {
                    "type": "string"
                },
                "currency": {
                    "type": "string"
                }
            }
        },
        "rate": {
            "required": [
                "start_date"
            ],
            "properties": {
                "start_date": {
                    "type": "string",
                    "description": "TBD"
                },
                "low": {
                    "type": "string"
                },
                "currency": {
                    "type": "string"
                },
                "daily_cents": {
                    "type": "string"
                },
                "tax_cents": {
                    "type": "string"
                },
                "total_cents": {
                    "type": "string"
                },
                "scraped_at": {
                    "type": "string"
                }
            }
        }
    }
}