@bg-color: white;
@header-color: white;
@footer-color: white;

body {
    background-color: @bg-color;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    main {
        flex-grow: 1;
    }
}

.page-header {
    background-color: @header-color;
    display: flex;
    padding: 0 20px;
    align-items: baseline;

    .right, .left {
        flex-basis: 20%;
    }

    .center {
        justify-content: center;
        flex-grow: 2;
        nav {
            display: flex;
            justify-content: center;
            align-items: baseline;
            div {
                padding: 5px;
                text-transform: uppercase;
                letter-spacing: 1pt;
                a {
                    text-decoration: none;
                }
                a:visited {
                    color: black;
                }
                a:hover {
                    color: #bbb;
                }
            }
            div.active {
                color: gold;
                a:visited {
                    color: gold;
                }
                a:hover {
                    color: #bbb;
                }
            }
            
        }
    }

    .left {
        display: flex;
        justify-content: flex-end;
    }
}

main {
    article {
        max-width: 1000px;
        margin: 0 auto;
        .caption {
            margin: 20px 0;
            font-size: 16pt;
        }
        .sub-caption {
            font-size: 14pt;
            font-style: italic;
        }
        .meta {
            font-size: 10pt;
            color: #bbb;
            margin: 5px 0;
        }
        .text {
            font-size: 12pt;
            margin: 10px 0;
        }
    }
}

.page-footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 10pt;
    font-weight: 100;
}