body {
	font-family: 'PT Sans', sans-serif;
}
.seasonList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 50px;
}

.seasonCaption {
	padding: 10px;
	margin: 10px;
	text-align: center;
	border: 1px solid black;
}

.table {
	display: table;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.table h1 {
	display: table-caption;
	caption-side: top;
	text-align: center;
	margin: 10px 0;
}

.table header {
	display: table-header-group;
}

.table ul {
	display: table-row;
}

.table ul:hover{
	background-color: #eee;
}



.table li {
	display: table-cell;
	border: 1px solid #ddd;
	padding: 2px 20px;
	font-size: 12pt;
}

header ul, header ul:hover {
	background-color: #ddd;
}

header li {
	text-align: center;
	font-weight: bold;
}

.tableSection {
	margin-top: 20px;
	margin-bottom: 50px;
}

.tableSection:nth-last-child(1) {
	margin-bottom: 100px;
}

.column {
	display: table-column;
}

.column-group {
	display: table-column-group;
}

.number-cell {
	text-align: right;
}

aside { margin: 20px auto; position: fixed; }

aside ul { margin-left: 50px; list-style-type: none; }

aside ul::before {
	content: '';
	width: 1px;
	background-color: #ddd;
	height: 100%;
	position: absolute;
	top: 0;
	left: 70px;
}

aside li {
	padding: 3px 0;
	font-size: 10pt;
	cursor: pointer;
}

aside li.active {
}

aside li.active::before {
	content: '';
	width: 5px;
	height: 5px;
	border: 3px solid black;
	background-color: white;
	position: absolute;
	left: 65px;
	margin-top: 3px;
	border-radius: 10px;

}