<html>
    <head>
        <meta charset="utf-8">
        <title>English punishments</title>
        <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="main.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <style>
            th {
                width: 20%;
            }
            .panel-title ng-binding, td {
                font-size: 10pt;
            }
            .he {
                background-color: #98AFC7;
                padding: 10px;
            }
            
            .she {
                background-color: #FFDFDD;
                padding: 10px;
            }
            .history {
                font-size: 10pt;
            }
            .mid {
                padding: 10px;
            }
        </style>
    </head>
    <body ng-app="punishments" ng-controller="MainCtrl">
        <div class="container" >
            <div class="col-md-4 he">
                <div class="container">
                    <div class="row">
                        <h1>{{ data.he.name }}</h1>
                    </div>
                    <div class="row">
                        Total points: {{ data.he.totalPoints }}
                    </div>
                    <div class="row">
                        Points: {{ data.he.points }}
                    </div>
                    <div class="row">
                        Current word: <b>{{ data.he.currentWord }}</b>
                    </div>
                    <div class="row">
                        History:
                        <ul ng-repeat="word in data.he.wordList" class="history">
                            <li>{{word}}</li>
                        </ul>
                    </div>
                    <div class="row">
                        <button ng-click="punish('he')" class="btn btn-danger" ng-disabled="canPunish('he')">Punish</button>
                        <button ng-click="complete('he')" class="btn btn-success" ng-disabled="canComplete('he')">Complete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="row mid">
                        <div class="form-inline">
                            <input type="text" ng-model="newWord" class="form-control" placeholder="New word"/>
                            <button ng-click="add()" class="btn btn-primary center">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <ul ng-repeat="word in data.wordList">
                            <li>{{ word }}</li>
                        </ul>
                    </div>
            </div>
            <div class="col-md-4 she">
                <div class="container">
                    <div class="row">
                        <h1>{{ data.she.name }}</h1>
                    </div>
                    <div class="row">
                        Total points: {{ data.she.totalPoints }}
                    </div>
                    <div class="row">
                        Points: {{ data.she.points }}
                    </div>
                    <div class="row">
                        Current word: <b>{{ data.she.currentWord }}</b>
                    </div>
                    <div class="row">
                        History:
                        <ul ng-repeat="word in data.she.wordList" class="history">
                            <li>{{word}}</li>
                        </ul>
                    </div>
                    <div class="row">
                        <button ng-click="punish('she')" class="btn btn-danger" ng-disabled="canPunish('she')">Punish</button>
                        <button ng-click="complete('she')" class="btn btn-success" ng-disabled="canComplete('she')">Complete</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>