body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Arian_Grqi_U'; /* Name you want to use in CSS */
  src: url('./assets/Arian_Grqi_U.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}