header, footer {
    display: flex;
    align-items: center;

    div {
        margin: 0 10px;
    }
}
header {
    justify-content: end;
    height: 75px;
}

main {
    flex: auto;

    margin: 0 40px;

    h2 {
        font-weight: 900;
        font-size: 28pt;
    }

    p.big {
        font-size: 18pt;
    }

    a {
        font-style: italic;
    }
}

footer {
    justify-content: space-around;
    height: 50px;
}

