body {
	background-color: #fff;
	font-family: 'PT Sans', sans-serif;
}
.result {
	background-color: #ccc;
	padding: 5px;
	margin: 3px;
	border-radius: 5px;
	font-size: 10pt;
	display: inline-block;
}


.rival {
	width: 100%;
	text-align: center;
	background-color: #eee;
	margin: 10px;
	padding: 10px;
	display: table;
}

.foo {
	width: 50%;
	float: right;
}

.bar {
	height: 30px;
	margin: 2px;
	padding: 2px;
	font-size: 18pt;
}

.smallBar {
	height: 20px;
	margin: 2px;
	padding: 2px;
}

.right {
	float: right;
	text-align: right;
}

.left {
	float: left;
	text-align: left;
}


.caption {
	width: 1px;
}

.conceded {
	background-color: #FF7965;
}

.scored {
	background-color: #01B3E1;
}

.captionLeft {
	width: 25px;
	font-size: 18pt;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 5px;
	border-right: 1px black solid;
	text-align: right;
}

.captionRight {
	width: 25px;
	font-size: 18pt;
	padding-right: 10px;
	padding-top: 5px;
	padding-left: 5px;
	border-left: 1px black solid;
	text-align: left;
}

.smallCaptionLeft {
	width: 25px;
	padding-left: 10px;
	padding-top: 7px;
	padding-right: 5px;
	border-right: 1px black solid;
	text-align: right;
}

.smallCaptionRight {
	width: 25px;
	padding-right: 10px;
	padding-top: 7px;
	padding-left: 5px;
	border-left: 1px black solid;
	text-align: left;
}

.headerLeft {
	margin-left: 50px;
	font-size: 18pt;
	border: 0;
}

.headerRight {
	margin-right: 50px;
	font-size: 18pt;
	border: 0;
}